.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed; /* Changer de relative à fixed */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Image de fond fixe */
  overflow: hidden;
}

.auth-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.login-form, .signup-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.784);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(235, 217, 217, 0.1);
  width: 90%;
  max-width: 400px;
}


.login-form, .signup-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6); /* Ajustez l'opacité selon vos préférences */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(235, 217, 217, 0.1);
  width: 90%;
  max-width: 400px;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .login-form, .signup-form {
    padding: 10px;
  }

  .google-signup {
    left: 50%;
  }
}

input,
button,
label,
span,
p,
h2{
  opacity: 10;
  color: #333; /* Assurez-vous que les éléments du formulaire ont une opacité de 1 pour rester visibles */
}

h2, p, button, input, .app-description, .error-message, .success-message {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 20px;
}

input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #7b7878;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}


button {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #d45a1e; /* Légère modification de la couleur au survol */
}

p, .app-description {
  text-align: center;
  margin-top: 10px;
}

p span, .google-signup span {
  color: #c62606;
  cursor: pointer;
}

p span:hover, .error-message, .success-message {
  text-decoration: underline;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.success-message {
  color: #28a745;
  margin-bottom: 1rem;
}

.google-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.google-signup:hover .google-icon {
  opacity: 0.8;
}

.google-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.remember-me-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remember-me-container input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}

.remember-me-container label {
  margin-left: 5px;
  white-space: nowrap;
}

@media screen and (min-width: 481px) {
  .auth-container {
    padding: 40px;
  }

  .login-form, .signup-form {
    padding: 30px; 
  }

  button, input {
    width: 80%;
  }

  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #666;
}

  .google-signup {
    bottom: -20px; 
    left: 50%;
  }
  
}
