.icon-bar {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.icon-bar div {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #757575;
  filter: grayscale(100%);
}

@media screen and (max-width: 480px) {
  .icon-bar div {
    font-size: 1.5rem; 
    margin: 0 8px;
  }
}

.icon-bar div:hover {
  transform: scale(1.2);
  color: #000;
  filter: grayscale(0%);
}
