.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around; /* Ajustement pour plus d'espace entre les icônes */
  align-items: center; /* Assurez-vous que les icônes sont alignées verticalement au centre */
  padding: 10px;
  background-color: orange;
  color: white;
}

.icon {
  cursor: pointer;
  font-size: 20px; /* Ajustez la taille des icônes si nécessaire */
}
